*~
*.png
*.jpg
build_*/
data
.settings
.project
.cproject
._*
build/
*.pyc
*.o
*.so
*.mex
.pydevproject
linemod
mmod

grouping/source/gpb_src/matlab/.DS_Store

grouping/source/gpb_src/matlab/.DS_Store

grouping/source/gpb_src/scripts/.DS_Store

grouping/source/gpb_src/scripts/.DS_Store

grouping/.DS_Store

grouping/source/.DS_Store

grouping/source/gpb_src/.DS_Store

grouping/source/gpb_src/matlab/util/.DS_Store

grouping/source/gpb_src/src/math/.DS_Store

grouping/source/opencv_gpb/.DS_Store
